{
  "extends": "stylelint-config-standard",
  "rules": {
    "selector-pseudo-element-colon-notation": "single",
    "number-leading-zero": "never",
    "declaration-empty-line-before": "never",
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": [
        "mixin",
        "include",
        "function",
        "return",
        "if",
        "extend",
        "at-root",
        "for"
      ]
    }]
  }
}
